body {
  margin: 0;
}

header {
    background-color: navy;
    color: white;
    margin: 0;
}

header h1 {
    margin: 0;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.main {
  width: auto;
   max-width: 1260px;
   margin: auto;
}

.head {
  display: flex;
  justify-content: space-between;
}

.blue_botton {
  text-decoration: none;
  margin: 0 auto;
  max-width: 240px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: #6bb6ff;
  filter: drop-shadow(0px 2px 4px #ccc);
  border-radius: 3px;
  border-radius: 50px;
  border: none;
}

.line_none {
  text-decoration: none;
}

table {
  width: 100%;
}

table th {
  background-color: #fbc25b;
  padding: 10px 20px;
}

table td {
  background-color: #f9ecd5;
  padding: 10px 20px;
}

.notice {
  background-color: #ccf;
  padding: 5px;
}

.memo-content {
  width: 350px;
  height: 200px;
}

.footer {
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.new_show_edit {
  padding-top: 20px;
}

